<!DOCTYPE html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>error</title>
    <style>
        body {
            background-color: blue;
            color: white;
            font-family: monospace;
            text-align: center;
            padding-top: 50px;
        }
        .message {
            font-size: 12px;
            font-weight: bold;
            text-transform: uppercase;
        }
    </style>
</head>
<body>
    <div class="message">
        <h1>PRÁVE PREBIEHA AKTUALIZÁCIA NAŠICH SYSTÉMOV</h1>
        <h3>SKÚŠTE SA VRÁTIŤ NESKÔR PROSÍM.</h3>
    </div>
</body>
</html>
